<div class="profile">
  <img src="../../assets/aditya.png" style="margin-bottom: 4%" />
</div>
<div class="logo">
  <img src="../../assets/white-logo.png" alt="AUTOGRAFIQ" />
</div>
<div class="mycontainer">
  <div class="bold-title">
    Aditya
  </div>
  <div class="box">
    <div class="name">Aditya Vaswani</div>
    <div class="desc" style="margin-top: 20px;">
      "I clarify my client needs & understand their pain points, I simplify them by
      making a proper strategy to overcome it. I design great graphics which leads them to flawless result."
    </div>
    <div class="row" style="margin-top: 100px;">
      <div class="col-6">
        <span><img src="../../assets/instagram.png" alt=""></span> <a href="https://www.instagram.com/_autografiq_/">
          _autografiq_</a>
      </div>
      <div class="col-6">
        <span><img src="../../assets/mail.png" alt=""></span> <a href="mailto:autografiq@gmail.com">
          autografiq@gmail.com</a>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-6">
        <span><img src="../../assets/behance.png" alt=""></span> <a href="https://www.behance.net/adityavaswani1">
          Aditya Vaswani</a>
      </div>
      <div class="col-6">
        <span><img src="../../assets/pin.png" alt=""></span> <a href=""> Mumbai Maharahtra </a>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-6">
        <span><img src="../../assets/linkedin.png" alt=""></span> <a
          href="https://www.linkedin.com/in/aditya-vaswani-aa1029203/"> Aditya Vaswani</a>
      </div>
      <div class="col-6">
        <img src="../../assets/whatsapp.png" alt=""> <a href=""> +91-7506219376 </a>
      </div>
    </div>
  </div>
</div>
