.navbarhover {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;

  .blackBox {
    // position: fixed;
    height: 1000px;
    width: 100px;
    bottom: 0%;
    margin-left: 100px;
    background-color: var(--primary-color);
    transform: translateX(50%) skewX(var(--rotate));
    // transform: ;
    transition: transform 1s;
  }
}



.main {
  height: 100%;
  // width: 2500px;
  width: 100%;
  background-color: #020508;
  // background-color: yellow;
  /* Center child horizontally*/
  // display: flex;
  // justify-content: center;

  // margin-bottom: 10%;
  position: absolute;
  overflow: hidden;
  /* Hide vertical scrollbar */

  .screen {
    width: 100%;
    height: 92%;
    position: absolute;
    overflow: hidden;
    top: 0px;
  }

  .bg-image {
    opacity: 0.1;
  }

  .navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    border-top-color: #FFF;
    border-top-width: 2px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    z-index: 1;
    display: block;

    .mycontainer {
      margin-right: 20px;
      display: flex;
      flex-direction: row;
      height: 100%;

      .box {
        margin-left: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;

        a {
          text-decoration: none;
          color: #FFF;
          font-size: 22px;
          font-family: NoirLight;
          letter-spacing: 1.5px;
        }

      }

      .box:hover {
        padding-bottom: 2px;
        border-bottom: 1px solid #FFF;
      }
    }
  }

}

@keyframes text-animation {
  0% {
    width: 0;
  }

  25% {
    width: 100px;
  }

  60% {
    width: 0;
  }

  100% {
    width: 100px;
  }
}

.outer {
  position: fixed;
  top: 10px;
  left: 10px;
  overflow: hidden;
  // background-color: black;
  transform-origin: 0 0;
  animation-name: text-animation;
  animation-duration: 2000ms;
  animation-timing-function: ease-out;

  .inner {
    width: 100px;
    height: 100px;
    margin: 10px;
    // background-color: yellow;
    float: left;
    position: relative;

    span {
      // color: white;
      font-size: 90px;
      position: relative;
      font-family: Aquire;
      top: 40px;
      left: 20px;
    }
  }
}