<div class="main">
  <div class="bg-image">
    <img src="../assets/pattern.png">
  </div>
  <div class="navbar">
    <div class="mycontainer">
      <div class="box">
        <a routerLink="/home" (mouseenter)="mouseEnter('home')" (mouseleave)="mouseLeave()"
          routerLinkActive="active">HOME</a>
      </div>
      <div class="box">
        <a routerLink="/about" (mouseenter)="mouseEnter('about')" (mouseleave)="mouseLeave()"
          routerLinkActive="active">SERVICES</a>
      </div>
      <div class="box">
        <a routerLink="/client" (mouseenter)="mouseEnter('inside')" (mouseleave)="mouseLeave()"
          routerLinkActive="active">INSIDE</a>
      </div>
      <div class="box">
        <a routerLink="/contact" (mouseenter)="mouseEnter('contact')" (mouseleave)="mouseLeave()"
          routerLinkActive="active">CONTACT</a>
      </div>
    </div>
  </div>
  <div class="screen">
    <router-outlet></router-outlet>
  </div>
</div>