/* You can add global styles to this file, and also import other style files */
// html,
// body {
//   max-width: 100%;
//   overflow-y: hidden;
// }
:root {
  --rotate: -8deg;
  --rotate-slider: -18deg;
  --rotate-slider-neg: 18deg;
  --primary-color: #01baef;
}

// html,
// body {
//   height: 100%;
// }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: hidden;
  /* Hide vertical scrollbar */
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: Riviera;
  src: url(assets/fonts/Riviera.otf);
}

@font-face {
  font-family: Caeldera;
  src: url(assets/fonts/Caeldera-ZB8.ttf);
}

@font-face {
  font-family: Aquire;
  src: url(assets/fonts/Aquire-BW0ox.otf);
}

@font-face {
  font-family: JosefinSansBoldItalic;
  src: url(assets/fonts/JosefinSansBoldItalic.ttf);
}

@font-face {
  font-family: JosefinSansRegular;
  src: url(assets/fonts/JosefinSansRegular-x3LYV.ttf);
}

@font-face {
  font-family: NoirBold;
  src: url(assets/fonts/NoirPro-Bold.otf);
}

@font-face {
  font-family: NoirLight;
  src: url(assets/fonts/NoirPro-Light.otf);
}

@font-face {
  font-family: NoirMedium;
  src: url(assets/fonts/NoirPro-Medium.otf);
}

@font-face {
  font-family: NoirSemiBold;
  src: url(assets/fonts/NoirPro-SemiBold.otf);
}

.hide {
  opacity: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}