 <!-- <video autoplay muted id="myVideo">
   <source src="../../assets/video.mp4" type="video/mp4" />
   Your browser does not support HTML5 video.
 </video> -->
 <!-- <div>
   <div class="wrapper">
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
   </div>
   <div class="wrapper">
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
   </div>
   <div class="wrapper">
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
   </div>
   <div class="wrapper">
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
   </div>
   <div class="wrapper">
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
   </div>
   <div class="wrapper">
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
   </div>
   <div class="wrapper">
     <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
   </div>
   <div class="cube" [ngStyle]="{'animation': getRandom()}"></div>
 </div> -->
 <!-- <div class="logo">
   <img src="../../assets/logo.png" alt="AUTOGRAFIQ" />

 </div> -->
 <div id="myVideo">
   <ng-lottie width="100px" height="100px" containerClass="moving-box" [styles]="styles" [options]="options">
   </ng-lottie>
 </div>
 <div class="sliderComponent">
   <ngx-slick-carousel class="carousel xyz" #slickModal="slick-carousel" [config]="slickConfig"
     (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
     (beforeChange)="beforeChange($event)">
     <div ngxSlickItem *ngFor="let slide of slides" class="slide sliderImg">
       <img src="{{ slide.img }}" alt="" width="100%">
     </div>
   </ngx-slick-carousel>
 </div>
 <div class="text">
   <h1 class="gradient-text">
     FASTEST <br>
     ON - POINT
     PROFESSIONALISM.<h1>



       <!-- <div class="mycontainer">
    <div class="line"></div> 
   <div class="box">
     <div class="title-box">
       <img width="700" controls autoplay src="../../assets/logo-text.png" />
      <div class="title">
         <div class="outer">
           <div class="inner">
             <span>A</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 70px">
           <div class="inner">
             <span>U</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 140px">
           <div class="inner">
             <span>T</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 200px">
           <div class="inner">
             <span>O</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 280px">
           <div class="inner">
             <span>G</span>
           </div>
         </div>

         <div class="outer" style="margin-left: 360px">
           <div class="inner">
             <span>R</span>
           </div>
         </div>

         <div class="outer" style="margin-left: 420px">
           <div class="inner">
             <span>A</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 500px">
           <div class="inner">
             <span>F</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 560px">
           <div class="inner">
             <span>I</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 580px">
           <div class="inner">
             <span>Q</span>
           </div>
         </div>
       </div>-->
       <!-- <div class="subtitle">
         <div class="outer">
           <div class="inner">
             <span>M</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 30px">
           <div class="inner">
             <span>I</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 40px">
           <div class="inner">
             <span>N</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 65px">
           <div class="inner">
             <span>T</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 95px">
           <div class="inner">
             <span>I</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 110px">
           <div class="inner">
             <span>N</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 135px">
           <div class="inner">
             <span>G</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 175px">
           <div class="inner">
             <span>C</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 205px">
           <div class="inner">
             <span>R</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 230px">
           <div class="inner">
             <span>E</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 255px">
           <div class="inner">
             <span>A</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 285px">
           <div class="inner">
             <span>T</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 310px">
           <div class="inner">
             <span>I</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 320px">
           <div class="inner">
             <span>V</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 350px">
           <div class="inner">
             <span>I</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 360px">
           <div class="inner">
             <span>T</span>
           </div>
         </div>
         <div class="outer" style="margin-left: 385px">
           <div class="inner">
             <span>Y</span>
           </div>
         </div>
       </div> 
     </div>

     <div class="desc">
       The company is established by Motion Graphic Designer Aditya Vaswani in
       the year 2020. Aditya has 5 Years of a rich experience in his field. He
       has been successfully handling Graphic Design & Motion Graphic projects
       for a numbers of Clients
     </div>
   </div>
 </div> -->